body {
  margin: 0;
  background-color: #1f1f1f;
  box-sizing: border-box;
  color: #fff;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  color: #fff;
  text-decoration: none;
}

.navbar {
  background-color: #141414;
  box-shadow: 5px 5px 10px #0b0808;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 5em;
  width: 100%;
  font-weight: bold;
}

.navbar-brand {
  color: #ff0a54;
}

.navbar-links {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 1.5em;
}

.navbar-link:hover {
  color: #ff0a54;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.top-anime-container,
.seasonal-anime-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
  width: 90%;
  height: 90%;
  justify-content: center;
}

.title {
  color: #ff0a54;
}

.card {
  background-color: #141414;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  box-shadow: 5px 5px 10px #0b0808;
  width: 30vh;
}

.card-image {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 495px;
  width: 30vh;
}

.card-body {
  padding: 0 0.8em;
}

.anime-rank {
  background-color: #141414;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 2px 2px 7px #0b0808;
  color: #ff0a54;
  font-weight: bold;
  font-size: 1.1em;
  padding: 1em;
  position: absolute;
}

.season-container {
  display: flex;
  justify-content: center;
  gap: 2em;
  width: 100%;
}

select {
  appearance: none;
  width: 100%;
  font-size: 1.15rem;
  padding: 0.675em 6em 0.675em 1em;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #ff0a54;
  color: #ff0a54;
  cursor: pointer;
  font-weight: bold;
}

.anime-page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 90%;
}

.about-anime-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 90%;
  gap: 2em;
}

.about-anime-section {
  width: 30%;
  background-color: #141414;
  box-shadow: 5px 5px 10px #0b0808;
}

.about-anime-main {
  width: 70%;
  background-color: #141414;
  box-shadow: 5px 5px 10px #0b0808;
}

.about-anime-image {
  width: 100%;
}

.about-anime-card-body {
  padding: 0 1em;
}

.card-button-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  width: 100%;
}

.btn {
  padding: 1em;
  font-size: 1em;
  font-weight: bold;
  background-color: #1f1f1f;
  border: 0;
  border-radius: 10px;
  color: #fff;
}

.btn:hover {
  background-color: #ff0a54;
  color: #fff;
  cursor: pointer;
}

.btn-favourite-checked {
  background-color: #0aff64;
  color: #000;
}

.react-tabs__tab-list {
  border-bottom: 1px solid #1f1f1f !important;
}

.react-tabs__tab {
  font-weight: bold;
  color: #ff0a54;
}

.react-tabs__tab--selected {
  background-color: #1f1f1f !important;
  border-color: #1f1f1f !important;
  color: #ff0a54 !important;
}

.tab-container {
  padding: 1em;
}

.trailer {
  border: 0;
  height: 50vh;
  width: 100%;
}

.description-container {
  margin-top: 1em;
}

.episode-tab-container,
.character-tab-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1em;
  height: 80vh;
  overflow-y: auto;
}

.episode-card {
  background-color: #1f1f1f;
  padding: 0.5em 1em;
  width: 15vw;
}

.character-card {
  background-color: #1f1f1f;
  width: 15vw;
}

.character-card-image {
  width: 15vw;
}

.character-card-body {
  padding: 0 1em;
}

.review-tab-container {
  display: flex;
  flex-direction: column;
  gap: 1em;
  height: 80vh;
  overflow-y: auto;
}

.review-card {
  background-color: #1f1f1f;
  padding: 0.5em 1em;
}

.review-card-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.login-page-container,
.register-page-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #141414;
  padding: 1.5em;
  gap: 1.5em;
  width: 50%;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  width: 50%;
}

.form-label {
  font-weight: bold;
}

.form-input {
  height: 2em;
  border: none;
  border-radius: 5px;
}

.profile-page-container {
  display: flex;
  height: 90vh;
  width: 90%;
  gap: 1em;
  justify-content: center;
}

.profile-about-container {
  background-color: #141414;
  box-shadow: 5px 5px 10px #0b0808;
  padding: 1em;
  height: 30vh;
  width: 30%;
}

.profile-list-container {
  background-color: #141414;
  box-shadow: 5px 5px 10px #0b0808;
  padding: 1em;
  height: 80vh;
  width: 70%;
}

.watch-list-container {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.watch-list-card {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2em;
  background-color: #1f1f1f;
  padding: 1em;
  height: 15vh;
}

.watch-list-image {
  height: 15vh;
}

.loadingSpinnerContainer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loadingSpinner {
  width: 64px;
  height: 64px;
  border: 8px solid;
  border-color: #000 transparent #555 transparent;
  border-radius: 50%;
  animation: spin 1.2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
